{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    </nav>

	<div class="cover-container">
		<span class="cover-wrapper">

		<span class="cover-cat">
		  <span class="eyes left"></span>
		  <span class="eyes right"></span>
		  <span class="mouth"></span>
		</span>

		<span class="cover-moon">
		  <span class="sphere"></span>
		</span>

		<span class="cloud-container">
		  <span class="cover-cloud"></span>
		  <span class="cover-cloud"></span>
		  <span class="cover-cloud"></span>
		  <span class="cover-cloud"></span>
		</span>

		<span class="cover-title">
			<h1 class="page-title">{{@blog.title}}</h1>
        	<h2 class="page-description">{{@blog.description}}</h2>
		</span>
	</div>

    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
